.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 9vh;
  left: 0;
  width: 310px;
  height: 100vh;
  padding: 20px 40px 20px 20px;
  z-index: 10;
}

.description-header {
  font-size: 22px;
  line-height: 28px;
}

.description {
  margin-top: 20px;
  overflow: hidden;
}

.author {
  position: fixed;
  color: #a5a3a9;
  text-align: left;
  left: 20px;
  bottom: 60px;
}
