@import "../../components/shared.module.less";

:local {
  .main-page {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-top: @header-height;
  }

  .first-block-wrapper {
    display: flex;
    flex-direction: row;
  }

  .menu {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 370px;
    min-width: 370px;
    padding: 20px 40px 20px 20px;
  }

  .avatar {
    margin-top: 140px;
    margin-left: 20px;
    width: 100%;
  }

  .title {
    display: block;
    overflow: hidden;
    flex-grow: 1;
  }

  .wrapper {
    margin-top: 50px;
  }

  .contacts {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .contact-block {
    font-family: Mont;
    font-size: 22px;
    line-height: 28px;
    margin-top: 50px;
  }

  .contact-block1 {
    margin-bottom: 24px;
  }

  .contact-block2 {
    margin-bottom: 10px;
  }

  .phone {
    color: @text-color-black;
    text-decoration: none;
  }

  @media screen and (max-width: 430px) {
    .menu {
      display: none;
    }

    .title {
      padding: 0 15px;
    }
  }
}
