.content-skinscan {
  display: flex;
  position: relative;
  flex-grow: 1;
  min-width: 400px;
  flex-direction: column;
  margin: 9vh 0 0 370px;
  padding-top: 24px;
  /* background-color: brown; */
}

.video-wrapper {
  margin-bottom: 20px;
}

.img-wrapper {
  /* margin: 1px 0; */
}

.image {
  display: block;
  margin: 0 auto;
  width: 1120px;
  font-size: 0;
  content: "";
  font-weight: 0;
  margin: 0;
  padding: 0;
}

.text-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 80px 70px 40px 0;
}

.text-block {
  width: 408px;
}
