@import "../../components/shared.module.less";

:local {
  .main-page {
    display: flex;
    flex-direction: column;
    margin-top: 9vh;
  }

  .first-block-wrapper {
    display: flex;
    // flex-direction: row;
  }

  .menu {
    width: 370px;
    position: relative;
  }

  .menu-text {
    width: 100%;
    position: absolute;
    bottom: 60px;
    left: 20px;
    color: #bbb;
  }

  .title {
    display: block;
    overflow: hidden;
  }

  .text-1 {
    font-size: 150px;
    line-height: 165px;
    margin-right: 10px;
  }
  .text-2 {
    height: 100%;
    color: #e85211;
    font-size: 80px;
    line-height: 114px;
  }
  .text-3 {
    font-size: 222px;
    line-height: 211px;
    color: #e85211;
  }

  .items-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;
    justify-content: flex-start;
  }

  .content-item {
    width: 48%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    transition-duration: 0.2s;
  }

  .content-item:hover {
    transform: scale(1.01);
  }

  .header {
    display: flex;
    padding: 20px 0 10px 15px;
  }

  .header1 {
    font-size: 22px;
    color: @text-color-black;
  }

  .link {
    text-decoration: none;
    margin-right: 20px;
    display: block;
  }

  .item-image {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .titul {
    display: block;
    margin: 0 auto;
    width: 100%;
    font-size: 0;
    content: "";
    font-weight: 0;
    margin: 0;
    padding: 0;
  }

  .site-link {
    height: 18px;
    width: 18px;
    background: url("./link.svg");
  }

  @media screen and (max-width: 430px) {
    .menu {
      display: none;
    }

    .title {
      padding: 0 15px;
    }

    .content-item {
      width: 100%;
      margin-bottom: 20px;
      padding: 0px;
    }

    .content-item:hover {
      transform: none;
    }
  }
}
