.main-page {
  display: flex;
}

.main-page {
  display: flex;
  flex-grow: 1;
  min-width: 400px;
  flex-direction: column;
  margin-top: 9vh;
  color: #222;
  padding-right: 20px;
}

.first-main-page {
  display: flex;
  flex-direction: row;
}

.menu-main-page {
  width: 370px;
  min-width: 370px;
  height: 91vh;
  position: relative;
}

.menu-main-page-text {
  position: absolute;
  bottom: 60px;
  left: 20px;
  color: #bbb;
}

.title-main-page {
  display: block;
  overflow: hidden;
  flex-grow: 1;
  font-weight: 400;
  font-family: Antiqua Roman;
  letter-spacing: 0.04em;
}

.title-text-wrapper {
  display: flex;
  align-items: flex-end;
  padding: 50px 0;
}

.text-1 {
  font-size: 150px;
  line-height: 165px;
  margin-right: 10px;
}
.text-2 {
  height: 100%;
  color: #e85211;
  font-size: 80px;
  line-height: 114px;
}
.text-3 {
  font-size: 222px;
  line-height: 211px;
  color: #e85211;
}

.items-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 24px;
}

.content-item {
  width: 680px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.content-item-header {
  display: flex;
  padding: 20px 0;
}

.content-item-link {
  text-decoration: none;
  margin-right: 20px;
}

.content-item-img {
  width: 100%;
  height: 440px;
  background-color: gray;
}

.content-item-link {
  display: block;
}

.site-link {
  height: 18px;
  width: 18px;
  background: url("./link.svg");
}
