@import "../components/shared.module.less";

:local {
  .projects-content {
    display: flex;
    position: relative;
    flex-grow: 1;
    flex-direction: column;
    margin: @header-height 0 0 @menu-width;
  }

  .image {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .thumb-wrap {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }

  .thumb-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
  }

  .text-wrapper {
    display: flex;
    position: relative;
    justify-content: start;
    overflow: hidden;
    font-family: Mont;
    padding: 80px 0px 40px 0px;
  }

  .text-block {
    box-sizing: border-box;
    width: 50%;
    padding-right: 150px;
  }

  .text-block-wide {
    box-sizing: border-box;
    padding-right: 150px;
    width: 60%;
  }

  @media screen and (max-width: 430px) {
    .projects-content {
      margin: 0;
    }

    .text-wrapper {
      flex-direction: column;
      padding: 20px 10px;
      :first-child {
        margin-bottom: 30px;
        margin-right: 0px;
      }
    }

    .text-block {
      width: 100%;
      padding-right: 0px;
    }
  }
}
