:local {
  .projects-content {
    display: flex;
    position: relative;
    flex-grow: 1;
    flex-direction: column;
    margin: 9vh 0 0 370px;
  }

  .video-wrapper {
    margin-bottom: 20px;
  }

  .image {
    display: block;
    margin: 0 auto;
    width: 100%;
    font-size: 0;
    content: "";
    font-weight: 0;
    margin: 0;
    padding: 0;
  }

  .text-wrapper {
    display: flex;
    position: relative;
    justify-content: start;
    overflow: hidden;
    padding: 80px 70px 40px 20px;
  }

  .text-block {
    display: flex;
    width: 40%;
    flex-direction: column;
    margin-right: 250px;
  }

  @media screen and (max-width: 430px) {
    .projects-content {
      margin: 50px 0 0 0;
    }

    .text-wrapper {
      flex-direction: column;
      padding: 20px 10px;
      :first-child {
        margin-bottom: 50px;
      }
    }

    .text-block {
      width: 100%;
      margin-right: 0px;
    }
  }
}
